@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  button {
    width: 10rem;
  }

  .tabs-sized :where(.tab) {
    @apply h-8 text-sm leading-loose;
    --tab-padding: 1rem;
   }
  
  .tab:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b3) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3) / var(--tw-bg-opacity));
  }  

  .vertical-gradient-1 {
    background-image: linear-gradient(to bottom, #EDEDED, #DBDBDB);
  }
  .vertical-gradient-2 {
    background-image: linear-gradient(to bottom, #DBDBDB, #EDEDED);
  }
}


